* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.container {
    margin: 50px auto;
    width: 400px;
}

form {
    border: 1px solid #495170;
    border-radius: 5px;
    padding: 20px;
    background-color: #9CAEF0;
}

label {
    display: block;
    font-size: 20px;
    color: #2342A3;
    margin-top: 5px;
}

input, textarea {
    display: block;
    margin: 0 0 20px 0;
    border-color: #495170;
}

.input-sexo, .inputsLabelsAccount {
    display: inline;
    font-size: 15px;
    margin: 0 2px 15px 2px;
}

button:hover {
    background-color: #495170;
    border-color: #FFFFFF;
    color: #FFFFFF;
    width: 95px;
    height: 20px;
    cursor: pointer;
}